<link rel="stylesheet" href="/src/components/tabs/tabs.css" />
<div class="tabs">
    <%- include('../../components/tabs/tabItem/tabItem.html', {'tabItemClass': 'isActive', 'iconClass': 'icon-grid', 'content': 'Tiles'}) %>
    <%- include('../../components/tabs/tabItem/tabItem.html', {'tabItemClass': '', 'iconClass': 'icon-bar-chart-2', 'content': 'Chart'}) %>
    <%- include('../../components/tabs/tabItem/tabItem.html', {'tabItemClass': '', 'iconClass': 'icon-columns', 'content': 'P&L'}) %>
</div>
