@import "/src/pages/style-table.css";

.selectControl {
  --select-background: var(--purple);
  --select-border: none;
  --select-color: var(--white);

  width: 100%;
  //min-width: ; TODO: узнать значение
  margin-bottom: 2rem;
  position: relative;
}

.selectControl:after {
  font-family: "keenlyicons" !important;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--select-color);
  display: block;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 0.5rem);
  right: 0.75rem;
  content: "\e916"; //TODO: заменить на иконку, удалить лишние стили, выровнять
  pointer-events: none;
  will-change: top;
  transition: top 0.3s ease, transform 0.3s ease;
}

.selectControl:focus-within:after {
  transform: rotate(180deg);
}

.selectControl_wrapperSelected {
  width: auto;
}

.selectControl_selected {
  font: inherit;
  font-size: var(--g-font-size);
  line-height: 2.5rem;
  color: var(--select-color);
  display: block;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  border: var(--select-border);
  border-radius: 1rem;
  background: var(--select-background);
  outline: none;
  cursor: pointer;
}

.selectControl_dropdown {
  width: 100%; //TODO: узнать чо по ширине и почему она больше чем контент
  padding: 1rem;
  border-radius: 1rem;
  overflow: auto;
  background: var(--white);
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.16);
  transform: translateY(1.25rem);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.selectControl:focus-within .selectControl_dropdown {
  transform: translateY(0.75rem);
  visibility: visible;
  opacity: 1;
}

.selectControl_option {
  font: inherit;
  font-size: var(--g-font-size);
  line-height: 1.2;
  color: var(--black);
  text-align: left;
  display: block;
  width: 100%;
  margin: 0;
  padding: 1.5rem;
  border: none;
  border-radius: 1rem;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;

  &.selectControlActive {
    font-weight: bold;

    &:after {
      font-size: var(--g-font-size);
      display: inline-block;
      padding: 0 0 0 1rem;
      content: "\2713"; //TODO: добавить при подключении шрифтов правильную иконку
    }
  }
}

.selectControl_option:hover,
.selectControl_option:focus {
  background: var(--light-purple);
}

.selectControl.small {
  height: 100%;
  max-height: 4rem;

  .selectControl_selected{
    line-height: 3rem;
    padding: 0.5rem 2rem;
  }
}

.selectControl.outline {
  --select-background: none;
  --select-border: 1px solid rgba(0, 0, 0, 0.1);
  --select-color: var(--black);
}

.selectControl.widthContent {
  width: fit-content;
}




