.asideLegendRowActivate {
  &.collapsable {
    .checkboxContainer {
      line-height: 0;
      overflow: visible;
      position: relative;

      &:after {
        font-family: "keenlyicons" !important;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: normal;
        display: block;
        width: 0.9rem;
        height: 0.9rem;
        position: absolute;
        top: calc(50% - 0.8rem);
        right: -2.25rem;
        content: "\e916";
        pointer-events: none;
        will-change: top;
        transition: top 0.3s ease, transform 0.3s ease;
      }
    }

    &.isActive {
      .checkboxContainer:after {
        transform: rotate(180deg);
        top: calc(50% - 0.3rem);
      }
    }

    & > .asideLegendRow {
      margin-bottom: 1.5rem;
    }
  }
}

.asideLegendRowsCollapsable {
  width: calc(var(--aside-legend-row-width) - 4rem);
  margin-left: 4rem;

  &.isHidden {
    display: none;
    height: 0;
  }
}
