<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/favicons/favicon.ico">
    <link rel="stylesheet" href="/src/pages/chart.css" />
    <title>Statistic</title>
</head>
<body>

<div class="mainWrapper">
    <header class="mainHeader">
        <h2>Statistic</h2>
        <%- include('../components/tabs/tabs.html') %>
    </header>
    <aside class="mainAside">
        <nav>
            <%- include('../components/dropdown/dropdown.html', {'dropdownClasses': 'company', 'dropdownButton': 'Please select 1111111111111111111111111111', 'dropdownItem1': 'This year', 'dropdownItem2': 'This year 2', 'dropdownItem3': 'This year 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, iste?'}) %>
            <%- include('../components/navItem/navItem.html', {'navItemTooltip': '', 'navItemClasses': '', 'iconClass': 'icon-trending-up', 'content': 'Statistic'}) %>
            <%- include('../components/navItem/navItem.html', {'navItemTooltip': '', 'navItemClasses': '', 'iconClass': 'icon-shopping-cart', 'content': 'Orders'}) %>
            <%- include('../components/navItem/navItem.html', {'navItemTooltip': '', 'navItemClasses': '', 'iconClass': 'icon-home', 'content': 'Stock'}) %>
            <%- include('../components/navItem/navItem.html', {'navItemTooltip': '', 'navItemClasses': '', 'iconClass': 'icon-volume-2', 'content': 'Advertising'}) %>
        </nav>
        <%- include('../components/profile/profile.html', {'profileClasses': '', 'userpic': 'h', 'content': 'Helen'}) %>
    </aside>
    <main>
        <div class="filters isSticky">
            <div class="buttonGroup">
                <%- include('../components/button/button.html', {'type': 'button', 'buttonClasses': 'isGrey', 'buttonIconClasses': '', 'content':'Today'}) %>
                <%- include('../components/button/button.html', {'type': 'button', 'buttonClasses': 'isGrey', 'buttonIconClasses': '', 'content':'This month'}) %>
                <%- include('../components/button/button.html', {'type': 'button', 'buttonClasses': 'isGrey', 'buttonIconClasses': '', 'content':'3 month'}) %>
                <%- include('../components/dropdown/dropdown.html', {'dropdownClasses': 'isBlue small', 'dropdownButton': 'More', 'dropdownItem1': '6 months', 'dropdownItem2': 'This year', 'dropdownItem3': 'Custom range'}) %>
            </div>
            <%- include('../components/dropdown/dropdown.html', {'dropdownClasses': 'isGrey small', 'dropdownButton': 'All marketplaces', 'dropdownItem1': 'USA: Amazon.com', 'dropdownItem2': 'This year', 'dropdownItem3': 'Custom range'}) %>
            <%- include('../components/dropdown/dropdown.html', {'dropdownClasses': 'isGrey small', 'dropdownButton': 'All products', 'dropdownItem1': '6 months', 'dropdownItem2': 'This year', 'dropdownItem3': 'Custom range'}) %>
        </div>

        <div class="contentChart">

            <div class="content sectionBillet isSticky">
                <img src="/src/assets/chart.svg" alt="">
            </div>

            <div class="asideLegend sectionBillet">
                <%- include('../components/select/select.html', {'selectClasses': 'small outline mb3','value': 'Please select', 'option1': 'This year', 'option2': 'This year 2', 'option3': 'This year 3', 'option4': 'This year 4',}) %>

                <h5 class="subTitle">SALES</h5>


                <div class="fieldset">

<!--                asideLegendRowsCollapsable - компонент для колапсинга в который можно иклюдить и чекбоксы asideLegendRow-->
                    <%- include('../components/asideLegend/asideLegendRowsCollapsable/asideLegendRowsCollapsable.html', {'classesRowsCollapsable': '', 'contentLeftClass': 'uBold', 'contentRightClass': 'uBold', 'contentRight': '$ -15 000.85'}) %>

<!--                asideLegendRowsCollapsable - он же, и пример как туда что передавать-->
                    <div class="asideLegendRowActivate collapsable isActive">
                        <div class="asideLegendRow">
                            <div class="checkboxContainer">
                                <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor4 uBold', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                            </div>
                            <div class="uBold">
                                $ 23 937.85
                            </div>
                        </div>
                        <div class="asideLegendRowsCollapsable fieldset">
                            <%- include('../components/asideLegend/asideLegendRow/asideLegendRow.html', {'contentLeftClass': 'uBold', 'contentLeft': '11111111111111111111111111111111111', 'contentRightClass': '', 'contentRight': '22222222222222'}) %>
                            <%- include('../components/asideLegend/asideLegendRow/asideLegendRow.html', {'contentLeftClass': 'uBold', 'contentLeft': 'Organic', 'contentRightClass': '', 'contentRight': '$ 20 800.18'}) %>
                            <%- include('../components/asideLegend/asideLegendRow/asideLegendRow.html', {'contentLeftClass': 'uBold', 'contentLeft': 'Organic', 'contentRightClass': '', 'contentRight': '$ 20 800.18'}) %>
                        </div>
                    </div>

<!--                    можно удалять, это все для красоты и теста скрола-->
                    <div class="asideLegendRowActivate collapsable">
                        <div class="asideLegendRow">
                            <div class="checkboxContainer">
                                <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor4', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                            </div>
                            <div>
                                $ 23 937.85
                            </div>
                        </div>
                        <div class="asideLegendRowsCollapsable fieldset isHidden">
                            <div class="asideLegendRow">
                                <div>Organic</div>
                                <div>$ 20 800.18</div>
                            </div>
                            <div class="asideLegendRow">
                                <div>Organic</div>
                                <div>$ 20 800.18</div>
                            </div>
                        </div>
                    </div>

                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor11', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div>
                            $ 23 937.85
                        </div>
                    </div>
                </div>

                <h5 class="subTitle">UNITS</h5>

                <div class="fieldset">
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor12', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div>
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor13 uBold', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor14 uBold', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor15 uBold', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor10 uBold', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor9 uBold', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                </div>

                <h5 class="subTitle">COSTS</h5>

                <div class="fieldset">
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor8', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div>
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor7 ', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor6 uBold', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor5 ', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor4 ', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor3 ', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor2 ', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor1 ', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="">
                            $ 23 937.85
                        </div>
                    </div>
                    <div class="asideLegendRow">
                        <div class="checkboxContainer">
                            <%- include('../components/checkbox/checkbox.html', {'checkboxClasses': 'isColor16 ', 'checkboxLabel': 'checkbox label', 'checkboxDisabled': ''}) %>
                        </div>
                        <div class="uBold">
                            $ 23 937.85
                        </div>
                    </div>
                </div>

                <h5 class="subTitle">Results</h5>







            </div>
        </div>

    </main>
</div>
</body>
</html>
