body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #555;
  background: #fff;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
}
small {
  font-size: .66666667em;
}
a {
  color: #e74c3c;
  text-decoration: none;
}
a:hover, a:focus {
  box-shadow: 0 1px #e74c3c;
}
.bshadow0, input {
  box-shadow: inset 0 -2px #e7e7e7;
}
input:hover {
  box-shadow: inset 0 -2px #ccc;
}
input, fieldset {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  color: inherit;
  line-height: 1.5;
  height: 1.5em;
  padding: .25em 0;
}
input:focus {
  outline: none;
  box-shadow: inset 0 -2px #449fdb;
}
.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
.fgc1 {
  color: #999;
}
.fgc0 {
  color: #000;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.unit {
  float: left;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.textbox0 {
  width: 3em;
  background: #f1f1f1;
  padding: .25em .5em;
  line-height: 1.5;
  height: 1.5em;
}
#testDrive {
  display: block;
  padding-top: 24px;
  line-height: 1.5;
}
.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 32px;
}

@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("/src/assets/font/keenly_icons/keenly_icons.eot?z12920");
  src: url("/src/assets/font/keenly_icons/keenly_icons.eot?z12920#iefix") format("embedded-opentype"),
  url("/src/assets/font/keenly_icons/keenly_icons.ttf?z12920") format("truetype"),
  url("/src/assets/font/keenly_icons/keenly_icons.woff?z12920") format("woff"),
  url("/src/assets/font/keenly_icons/keenly_icons.svg?z12920#icomoon") format("svg");
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-off-1:before {
  content: "\e900";
}

.icon-alert:before {
  content: "\e901";
}

.icon-dollar-sign:before {
  content: "\e902";
}

.icon-shopping-bag:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e904";
}

.icon-checkmark:before {
  content: "\e905";
}

.icon-spinner:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e907";
}

.icon-amazon:before {
  content: "\e908";
}

.icon-google:before {
  content: "\e909";
}

.icon-eye:before {
  content: "\e90a";
}

.icon-check:before {
  content: "\e90b";
}

.icon-dropup:before {
  content: "\e90c";
}

.icon-dropdown:before {
  content: "\e90d";
}

.icon-more-horizontal:before {
  content: "\e90e";
}

.icon-shopping-cart:before {
  content: "\e90f";
}

.icon-volume-2:before {
  content: "\e910";
}

.icon-home:before {
  content: "\e911";
}

.icon-trending-up:before {
  content: "\e912";
}

.icon-columns:before {
  content: "\e913";
}

.icon-bar-chart-2:before {
  content: "\e914";
}

.icon-grid:before {
  content: "\e915";
}

.icon-chevron-bottom:before {
  content: "\e916";
}


