body {
  font-family: var(--g-font-family);
  font-size: var(--g-font-size);
  line-height: var(--g-line-height);
  color: var(--g-text-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--g-body-background-color);
}
