h1, .uH1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  margin: 0;
}

h2, .uH2 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  margin: 0;
}

h3, .uH3 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  margin: 0;
}

h4, .uH4 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: 0;
}

h5, .uH5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 500;
}
