<link rel="stylesheet" href="/src/components/table/table.css" />
<div class="table">
    <div class="tableHeaderRow">
        <div class="tableHeaderCell firstCell"><span>Column</span></div>

        <div class="tableHeaderCell"><span>Column 01</span></div>
        <div class="tableHeaderCell"><span>Column 02</span></div>
        <div class="tableHeaderCell"><span>Column 03</span></div>
        <div class="tableHeaderCell"><span>Column 04</span></div>
        <div class="tableHeaderCell"><span>Column 05</span></div>
        <div class="tableHeaderCell"><span>Column 06</span></div>
        <div class="tableHeaderCell"><span>Column 07</span></div>
        <div class="tableHeaderCell"><span>Column 08</span></div>
        <div class="tableHeaderCell"><span>Column 09</span></div>
        <div class="tableHeaderCell"><span>Column 10</span></div>
        <div class="tableHeaderCell"><span>Column 11</span></div>
        <div class="tableHeaderCell"><span>Column 12</span></div>
        <div class="tableHeaderCell"><span>Column 13</span></div>
        <div class="tableHeaderCell"><span>Column 14</span></div>
        <div class="tableHeaderCell"><span>Column 15</span></div>

    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell collapsable isActive"><span class="uBold">Cell align-top</span></div>
            <div class="tableCell"><span class="uBold">table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span class="uBold">table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>

        </div>
        <div class="tableCollapsable">
            <div class="tableCollapsableRow">
                <div class="tableCell firstCell"><span class="uBold">Cell align-top</span></div>
                <div class="tableCell"><span>table cell 01</span></div>
                <div class="tableCell"><span>table cell 02</span></div>
                <div class="tableCell"><span>table cell 03</span></div>
                <div class="tableCell"><span class="uBold">table cell 04</span></div>
                <div class="tableCell"><span>table cell 05</span></div>
                <div class="tableCell"><span>table cell 06</span></div>
                <div class="tableCell"><span>table cell 07</span></div>
                <div class="tableCell"><span>table cell 08</span></div>
                <div class="tableCell"><span>table cell 09</span></div>
                <div class="tableCell"><span>table cell 10</span></div>
                <div class="tableCell"><span>table cell 11</span></div>
                <div class="tableCell"><span>table cell 12</span></div>
                <div class="tableCell"><span>table cell 13</span></div>
                <div class="tableCell"><span>table cell 14</span></div>
                <div class="tableCell"><span>table cell 15</span></div>
            </div>
            <div class="tableCollapsableRow">
                <div class="tableCell firstCell"><span>Cell align-top</span></div>
                <div class="tableCell"><span>table cell 01</span></div>
                <div class="tableCell"><span>table cell 02</span></div>
                <div class="tableCell"><span>table cell 03</span></div>
                <div class="tableCell"><span>table cell 04</span></div>
                <div class="tableCell"><span>table cell 05</span></div>
                <div class="tableCell"><span>table cell 06</span></div>
                <div class="tableCell"><span>table cell 07</span></div>
                <div class="tableCell"><span>table cell 08</span></div>
                <div class="tableCell"><span>table cell 09</span></div>
                <div class="tableCell"><span>table cell 10</span></div>
                <div class="tableCell"><span>table cell 11</span></div>
                <div class="tableCell"><span>table cell 12</span></div>
                <div class="tableCell"><span>table cell 13</span></div>
                <div class="tableCell"><span>table cell 14</span></div>
                <div class="tableCell"><span>table cell 15</span></div>
            </div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell collapsable"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
        <div class="tableCollapsable isHidden">
            <div class="tableCollapsableRow">
                <div class="tableCell firstCell"><span class="uBold">Cell align-top</span></div>
                <div class="tableCell"><span>table cell 01</span></div>
                <div class="tableCell"><span>table cell 02</span></div>
                <div class="tableCell"><span>table cell 03</span></div>
                <div class="tableCell"><span class="uBold">table cell 04</span></div>
                <div class="tableCell"><span>table cell 05</span></div>
                <div class="tableCell"><span>table cell 06</span></div>
                <div class="tableCell"><span>table cell 07</span></div>
                <div class="tableCell"><span>table cell 08</span></div>
                <div class="tableCell"><span>table cell 09</span></div>
                <div class="tableCell"><span>table cell 10</span></div>
                <div class="tableCell"><span>table cell 11</span></div>
                <div class="tableCell"><span>table cell 12</span></div>
                <div class="tableCell"><span>table cell 13</span></div>
                <div class="tableCell"><span>table cell 14</span></div>
                <div class="tableCell"><span>table cell 15</span></div>
            </div>
            <div class="tableCollapsableRow">
                <div class="tableCell firstCell"><span>Cell align-top</span></div>
                <div class="tableCell"><span>table cell 01</span></div>
                <div class="tableCell"><span>table cell 02</span></div>
                <div class="tableCell"><span>table cell 03</span></div>
                <div class="tableCell"><span>table cell 04</span></div>
                <div class="tableCell"><span>table cell 05</span></div>
                <div class="tableCell"><span>table cell 06</span></div>
                <div class="tableCell"><span>table cell 07</span></div>
                <div class="tableCell"><span>table cell 08</span></div>
                <div class="tableCell"><span>table cell 09</span></div>
                <div class="tableCell"><span>table cell 10</span></div>
                <div class="tableCell"><span>table cell 11</span></div>
                <div class="tableCell"><span>table cell 12</span></div>
                <div class="tableCell"><span>table cell 13</span></div>
                <div class="tableCell"><span>table cell 14</span></div>
                <div class="tableCell"><span>table cell 15</span></div>
            </div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span class="loaded"></span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>
    <div class="tableRow">
        <div class="leadingRow">
            <div class="tableCell firstCell"><span>Cell align-top</span></div>
            <div class="tableCell"><span>table cell 01</span></div>
            <div class="tableCell"><span>table cell 02</span></div>
            <div class="tableCell"><span>table cell 03</span></div>
            <div class="tableCell"><span>table cell 04</span></div>
            <div class="tableCell"><span>table cell 05</span></div>
            <div class="tableCell"><span>table cell 06</span></div>
            <div class="tableCell"><span>table cell 07</span></div>
            <div class="tableCell"><span>table cell 08</span></div>
            <div class="tableCell"><span>table cell 09</span></div>
            <div class="tableCell"><span>table cell 10</span></div>
            <div class="tableCell"><span>table cell 11</span></div>
            <div class="tableCell"><span>table cell 12</span></div>
            <div class="tableCell"><span>table cell 13</span></div>
            <div class="tableCell"><span>table cell 14</span></div>
            <div class="tableCell"><span>table cell 15</span></div>
        </div>
    </div>


</div>

<script rel="script">

</script>
